*.iml
.gradle
/.idea
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/ioc-annotations/build
/ioc-annotations/*.iml

/ioc-api/build
/ioc-api/*.iml

/ioc-complier/build
/ioc-complier/*.iml

/okevent/build
/okevent/*.iml

